extends ../../layouts/defaultLayout.pug
include ../../mixins/box-head.pug 
include ../../mixins/alert.pug 
include ../../mixins/status.pug 
include ../../mixins/modal.pug 
include ../../mixins/pagination.pug 
include ../../mixins/search.pug 
include ../../mixins/sort.pug 
include ../../mixins/filterByStatus.pug 
include ../../mixins/changeMulti.pug 

block main 
    if (role.permissions.includes("users-view"))
        .main 
            +box-head(pageTitle)
            +alertSuccess("3000")
            +alertError("3000")

            .card.my-4
                .card-header.fw-bold Tìm kiếm, sắp xếp, lọc theo trạng thái
                .card-body.card-sort-search
                    +search(keyword)
                    +sort(sort, sortedBy)
                    +filterByStatus(filterOptions, filterByStatus)
                    
            .card.my-4
                .card-header.fw-bold Thêm, sửa, cập nhật
                .card-body.card-crud.d-flex
                    if(role.permissions.includes("users-edit"))
                        +changeMultiUsers("users")

            .card.my-4
                .card-header.fw-bold Danh sách users
                .card-body
                    if (users.length > 0) 
                        table.table.table-hover
                            thead
                                tr.text-center
                                    th(scope='col')
                                        input(type="checkbox" name="" checkbox-all class="form-check-input")
                                    th(scope='col') STT
                                    th(scope='col') Email 
                                    th(scope='col') Họ tên
                                    th(scope='col') Trạng thái
                            
                            tbody   
                                each user in users 
                                    tr.text-center.align-middle 
                                        td 
                                            input(type="checkbox" name="" checkbox-single=account.id class="form-check-input")  
                                        td #{user.index}
                                        td.fw-bold #{user.email}
                                        td #{user.fullName}
                                        td 
                                            +status(user, "users")                                        

                        +pagination(pagination)
                    else 
                        tr(col-span="8") Chưa có user nào

        script(src="/public/admin/js/search.js") 
        script(src="/public/admin/js/changeMulti.js") 
        script(src="/public/admin/js/pagination.js") 
        script(src="/public/admin/js/filterByStatus.js") 
        script(src="/public/admin/js/sort.js")  

