a {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}

:root {
    --sider-width: 230px;
    --header-height: 57.6px;
}

body {
    overflow-x: hidden;
}


.header__top {
    padding: 15px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #000;
}


.header__logo {
    font-weight: bold;
    font-size: 20px;
}

.header__search form {
    max-width: 400px;
    width: 350px;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__user,
.header__minicart {
    position: relative;
}

.header__minicart .header__list,
.header__user .header__list {
    padding: 1rem .5rem;
}

.header__buttons {
    position: relative;
}

.cart__quantity {
    position: absolute;
    right: -13px;
    top: -10px;
    border-radius: 50%;
}

.header__buttons:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.header__dropdown {
    position: absolute;
    top: 30px;
    min-width: 200px;
    width: 300px;
    right: 0;
    z-index: 50;
}

.header__top .header__list {
    background-color: #fff;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.header__top .header__list li a {
    color: #000;
    display: block;
    padding: 5px 10px;
}

.header__top .header__list li a:hover {
    font-weight: bold;
}

.header__bottom {
    background-color: #000;
    color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.header__bottom>.header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0 auto;
}

.header__bottom>.header__list>.header__item>a {
    display: inline-block;
    padding: 10px 1rem;
    transition: all .5s;
    color: #fff;
}

.header__bottom>.header__list>.header__item>a:hover {
    background-color: #6c6c6c;
}

.cart__item {
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

.cart__item>img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.cart__item:hover {
    background-color: #d7d7d7;
}

.cart__item p {
    padding: 0;
    margin: 0;
}

.cart__item > .cart__info {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .header__bottom>.header__list {
        justify-content: flex-start;
        width: 800px;
    }
}

.old__price {
    text-decoration: line-through;
}

.footer {
    background-color: #000;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.owl-carousel {
    position: relative;
}

.owl-carousel .owl-nav button>span {
    display: block;
    position: relative;
    top: -3px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    font-size: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .4);
    width: 40px;
    height: 40px;
}

.owl-carousel .owl-nav button.owl-next {
    right: -15px;
}

.owl-carousel .owl-nav button.owl-prev {
    left: -15px;
}

.owl-carousel .owl-dots {
    display: none;
}

#myMainCarousel.owl-carousel .owl-nav {
    display: none;
}

#myMainCarousel.owl-carousel .owl-dots {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#myMainCarousel.owl-carousel .owl-dots .owl-dot span {
    background-color: rgba(255, 255, 255, .5);
}

#myMainCarousel.owl-carousel .owl-dots .owl-dot.active span {
    background-color: #fff;
}

#myMainCarousel.owl-carousel .carousel-image {
    height: 450px;
}

.detail__img {
    height: 400px;
}

.course__info {
    background-color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .2);
}

.relatedCourse,
.relatedBlog {
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .4);
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}

.relatedCourse:hover,
.relatedBlog:hover {
    background-color: #d7d7d7;
}

.relatedCourse img,
.relatedBlog img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.relatedCourse p,
.relatedBlog p {
    color: #000;
    margin: 0;
    padding: 0;
}

.categories__list {
    background-color: #000;
    border-radius: 10px;
}

.categories__list a {
    display: block;
    padding: 10px 15px;
    color: #fff;
}

.categories__list a:hover {
    background-color: #616161;
}

.categories__list li:first-child a:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.categories__list li:last-child a:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media screen and (max-width: 567px) {
    #myMainCarousel.owl-carousel .carousel-image {
        height: 250px;
    }

    .detail__img {
        height: 250px;
    }
}