extends ../../layouts/defaultLayout.pug 
include ../../mixins/carousels.pug
include ../../mixins/item.pug
include ../../mixins/alert.pug

block main 
    
    +carousels(carousels)
    +alertSuccess("3000")
    
    .container
        .courses.mt-5 
            .row
                h4.fw-bold.mb-3 Khóa học mới nhất
                #myCoursesCarousel.owl-carousel.owl-theme
                    each course in courses
                        +course(course)
        .blogs.mt-5 
            .row 
                h4.fw-bold.mb-3 Bài viết mới nhất
                #myBlogsCarousel.owl-carousel.owl-theme
                    each blog in blogs 
                        +blog(blog)
   



                    
