extends ../../layouts/defaultLayout.pug 
include ../../mixins/alert.pug 

block main 
    +alertError("3000")
    
    form(
        action="/users/forgotPassword"
        method="post"
        id="form-forgotPassword-email"
    ) 
        h4.text-center.mb-2 Quên mật khẩu
        .mb-1.row.form-group
            label.col-12.col-form-label.fw-bold(for='email') Email
            .col-12
                input(class="form-control" type='email' name="email" id="email" placeholder="Nhập email")
            p.error-msg 
        
        .mb-1.row.px-2
            .col-12.col-form-label
            button(type="submit" class="btn btn-primary" style="width: 100%;") Lấy mã OTP
        
    script(src="/public/clients/js/validator.js") 
                    
