extends ../../layouts/defaultLayout.pug 
include ../../mixins/alert.pug 

block main 
    +alertError("3000")
    
    form(
        action="/users/register"
        method="post"
        id="form-register"
    ) 
        h4.text-center.mb-2 Đăng kí
        .mb-1.row.form-group
            label.col-12.col-form-label.fw-bold(for='email') Email
            .col-12
                input(class="form-control" type='email' name="email" id="email" placeholder="Nhập email")
            p.error-msg 
        .mb-1.row.form-group
            label.col-12.col-form-label.fw-bold(for='password') Password
            .col-12
                input(class="form-control" type='password' name="password" id="password" placeholder="Nhập password")
            p.error-msg 
        .mb-1.row.form-group
            label.col-12.col-form-label.fw-bold(for='fullName') Họ tên
            .col-12
                input(class="form-control" type='text' name="fullName" id="fullName" placeholder="Nhập họ tên")
            p.error-msg 
        .mb-1.row.px-2
            .col-12.col-form-label
            button(type="submit" class="btn btn-primary" style="width: 100%;") Đăng kí

    script(src="/public/clients/js/validator.js") 
                    
