extends ../../layouts/defaultLayout.pug 
include ../../mixins/alert.pug 

block main 
    +alertError("3000")
    
    form(
        action="/users/resetPassword?_method=PATCH"
        method="post"
        id="form-forgotPassword-reset"
    ) 
        h4.text-center.mb-2 Reset password
        .mb-1.row.form-group
            label.col-12.col-form-label.fw-bold(for='password') Mật khẩu mới
            .col-12
                input(class="form-control" type='password' name="password" id="password" placeholder="Nhập mật khẩu mới")
            p.error-msg 
        
        .mb-1.row.form-group
            label.col-12.col-form-label.fw-bold(for='confirmPassword') Xác nhận mật khẩu mới
            .col-12
                input(class="form-control" type='password' name="confirmPassword" id="confirmPassword" placeholder="Xác nhận mật khẩu mới")
            p.error-msg 
        
        .mb-1.row.px-2
            .col-12.col-form-label
            button(type="submit" class="btn btn-primary" style="width: 100%;") Lưu thay đổi
        
    script(src="/public/clients/js/validator.js") 
                    
