.header 
    a(href=`${prefixAdmin}/courses` class="header__logo") TPT-edu
    .header__right 
        .header__search
            form.d-flex(role='search')
                input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
                button.btn.btn-success(type='submit') Search
        .header__user 
            span.header__buttons 
                i.fa-solid.fa-user
                i.ms-2.fa-solid.fa-caret-down
            .header__dropdown.hidden 
                ul.header__list 
                    li 
                        a(href=`${prefixAdmin}/accounts`) Admin 
                    li 
                        a(href="#") Đăng xuất



            
