.footer.mt-5 
    p.p-0.m-2 
        span.fw-bold Tên công ty: 
        span #{settings.name}
    p.p-0.m-2 
        span.fw-bold Email: 
        span #{settings.email}
    p.p-0.m-2 
        span.fw-bold Số điện thoại: 
        span #{settings.phone}
    p.p-0.m-2
        span.fw-bold Địa chỉ: 
        span #{settings.address}