ul.profile__sider 
    li.profile__item 
        a(href="/users/profile" class="profile__link") Tài khoản
    li.profile__item 
        a(href="/users/orders" class="profile__link") Đơn hàng
    li.profile__item 
        a(href="/users/purchased-courses" class="profile__link") Khóa học đã mua
    li.profile__item 
        a(href="/users/updatePassword" class="profile__link") Đổi mật khẩu
